.formWrapper {
  padding: 50px 80px;
  border: 1px solid #0170B9;
  border-radius: 7px;
  -webkit-box-shadow: 1px 1px 4px -2px rgba(1, 112, 185, 1);
  -moz-box-shadow: 1px 1px 4px -2px rgba(1, 112, 185, 1);
  box-shadow: 1px 1px 4px -2px rgba(1, 112, 185, 1);
  transition: all 0.2s ease;

  &:hover {
    -webkit-box-shadow: 1px 1px 6px -2px rgba(1, 112, 185, 1);
    -moz-box-shadow: 1px 1px 6px -2px rgba(1, 112, 185, 1);
    box-shadow: 1px 1px 6px -2px rgba(1, 112, 185, 1);
  }
}

.form {
  display: flex;
  flex-direction: column;
  // max-width: 400px;
  margin: 0 auto;

  > div {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
    }
      
  }
}

.inputData {
  position: relative;
  width: 100%;
  height: 40px;
}

.textarea {
  height: 120px;
  // overflow: hidden;
  resize: none;

  /* Hide the scrollbar for both vertical and horizontal scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

  @media (max-width: 490px) {
    height: 80px; // Change this value for mobile devices if needed
  }
}

.inputData input,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  outline: none;
  padding: 20px 40px;
  border: 1px solid #0170B9;
  border-radius: 7px;
  -webkit-box-shadow: 1px 1px 4px -2px rgba(1, 112, 185, 1);
  -moz-box-shadow: 1px 1px 4px -2px rgba(1, 112, 185, 1);
  box-shadow: 1px 1px 4px -2px rgba(1, 112, 185, 1);
  transition: all 0.3s ease;
}

.inputData input,
.textarea textarea {
  &:focus {
    border: 1px solid #ff7300;
  }
}

.inputData .label {
  position: absolute;
  pointer-events: none;
  bottom: 8px;
  left: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  color: #4B4F58;
}

.inputData .dateLabel {
  position: absolute;
  pointer-events: none;
  bottom: 8px;
  left: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  color: #4B4F58;
  transform: translateY(-22px);
  font-size: 10px;
  background-color: #fff;
}

.inputData .label.focused {
  transform: translateY(-22px);
  font-size: 10px;
  background-color: #fff;
}

.inputData .labelTextarea {
  position: absolute;
  pointer-events: none;
  top: 15px;
  left: 20px;
  font-size: 14px;
  height: fit-content;
  transition: all 0.3s ease;
  color: #4B4F58;
}
.inputData .labelTextarea.focused {
  transform: translateY(-18px);
  font-size: 10px;
  background-color: #fff;
}

.textarea label {
  bottom: 40px;

  @media (max-width: 490px) {
    bottom: 10px;
  }
}

.inputData .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.inputData .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #fff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.inputData input:focus ~ .underline:before,
.inputData input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}

.inputWrapper {
  display: flex;
  gap: 13px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }
}

.buttonBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 3px;
  color: #fff;
  background-color: #0170B9;
  border-radius: 7px;
  padding: 10px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;

  &:hover {
    background-color: #ff7300;
    color: #fff;
  }
}

.popup {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 1px 1px 14px -3px rgba(204, 190, 129, 1);
  -moz-box-shadow: 1px 1px 14px -3px rgba(204, 190, 129, 1);
  box-shadow: 1px 1px 14px -3px rgba(204, 190, 129, 1);
  transition: all 0.3s ease;
}

.popupWrapper {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popupTitle {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #000;
}

.popupMessage {
  font-size: 16px;
  color: #000;
}

.errorMessage {
  color: red;
  position: absolute;
  bottom: -20px;
}

.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the modal appears above other content */
}

.messagePopup {
  width: 70%; /* Adjust the width of the popup as needed */
  max-width: 400px; /* Optional: Set a maximum width for the popup */
  background-color: #fff;
  color: #302C42;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 14px -3px rgba(204, 190, 129, 1);
  transition: all 0.3s ease;
}

.messageContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.messageTitle {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.messageText {
  font-size: 16px;
}