.dividerBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 500px;
}
.dividerBlockLine {
  height: 0.5px;
  width: 100%;
}
.dividerBlockIcon {

}