.slider {
  max-width: 800px;
  margin-bottom: 50px;
}

.slide {
  padding-inline: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
  margin-bottom: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
}

.slideWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 30px 40px;
  -webkit-box-shadow: 3px 3px 20px -8px rgba(48, 44, 66, 1);
  -moz-box-shadow: 3px 3px 20px -8px rgba(48, 44, 66, 1);
  box-shadow: 3px 3px 20px -8px rgba(48, 44, 66, 1);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  margin-bottom: clamp(1.875rem, 1.193rem + 3.41vw, 3.75rem);

  &:hover {
    -webkit-box-shadow: 3px 3px 20px -8px rgba(48, 44, 66, 0.5);
    -moz-box-shadow: 3px 3px 20px -8px rgba(48, 44, 66, 0.5);
    box-shadow: 3px 3px 20px -8px rgba(48, 44, 66, 0.5);
  }

  @media (max-width: 768px) {
    flex-direction: column;
    // align-items: center;
    gap: 10px;
  }
}

.slideData {
  color: #424242;
  flex: 0 1 20%;
}

.slideName {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 5px;
}

.slideCountry {
  margin-bottom: 8px;
}

.slideCountryName {
  font-size: 14px;
  font-weight: 400;
  font-size: 12px;
}

.slidePeriod {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 10px;

  p {
    font-size: 12px;
  }
}

.slidePeriodIcon {
  width: 10px;
  height: 10px;
  fill: #424242;
}

.slideAmount {
  font-size: 12px;
}

.slideReview {
  flex: 0 1 80%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #262626;
}