.galleryContainer {}

.gallerySlider {
  // max-width: 500px;
}

// .galleryThumbnail {
//   // max-width: 500px;
//   img {
//     // height: 60px;
//     width: auto;
//     object-fit: cover;
//   }
// }

// GallerySlider.module.scss
.galleryItem {
  position: relative;
}

.galleryItem .loading::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd; /* Placeholder background color */
  /* Add animation styles if needed */
}
