// MainMenu.module.scss

.bgPrimary {
  background-color: #9fc783;
  position: sticky;
  top: -1px;
  left: 0;
  right: 0;
  z-index: 20;
  transition: all ease-in-out 0.2s;
  height: 70px;

  @media (max-width: 768px) {
    position: fixed;
  }
}

.bgPrimaryScrolled {
  height: 50px;

  @media (max-width: 768px) {
    height: 70px;
    
  }
}


.container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 0 10px;
  height: 70px;
  display: flex;
  transition: all ease-in-out 0.2s;
}


.logo {
  display: flex;
  align-items: center;
  padding-top: 2px;
  transition: all ease-in-out 0.2s;

  @media (max-width: 768px) {
    padding-top: 10px;
  }
}

.logoScrolled {
  padding-bottom: 25px;

  @media (max-width: 768px) {
    padding-bottom: 0;
  }
}

.logoImage {
  // width: 50px;
  // height: 50px;
  object-fit: contain;
  transition: all ease-in-out 0.2s;
}

.logoImageScrolled {
  width: 30px;
  height: 30px;

  @media (max-width: 768px) {
    width: 50px;
    height: 50px;
  }
}

.nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  transition: all ease-in-out 0.2s;
}

.nav-item {
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-item:hover {
  @media (min-width: 768px) {
    background-color: #799962;
  }
}

.nav-item:hover .sub-menu {
  // display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.nav-item-wrapper {
  @media (min-width:768px) {
    height: 100%;
  }
}

.linkWrapper {
  height: 100%;
}

.navLink {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  @media (max-width: 768px) {
    font-size: 22px;
  }
}

.navLinkScrolled {
  align-items: baseline;
  padding-top: 10px;

  @media (max-width: 768px) {
    align-items: center;
    padding-top: 0;
  }
}

.destination {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  transition: all ease-in-out 0.2s;
}

.destinationScrolled {
  height: 70%;
  transition: all ease-in-out 0.2s;

  @media (max-width: 768px) {
    height: 100%;
  }
}

.sub-menu {
  display: none;
  position: absolute;
  text-align: right;
  right: 0;
  top: 100%;
  margin-top: -1px;

  @media (min-width: 768px) {
    background-color: #9fc783;
  }
}

.sub-menu-open {
  display: block;
}

.sub-menu-item {
  display: block;
  white-space: nowrap;
  padding: 20px 5px;
  transition: all 0.3s;

  @media (max-width: 768px) {
    text-align: left;
    padding: 10px 10px 10px 60px;
  }
}

.sub-menu-item:hover {
  background-color: #799962;
}

.icons {
  display: flex;
  margin-left: 3px;
  gap: 10px;
  align-self: center;
  transition: all ease-in-out 0.2s;
}

.iconsScrolled {
  margin-bottom: 15px;
  // align-self: baseline;
  // transition: all ease-in-out 0.2s;

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.iconLink {
  display: inline-block;
  transition: all ease-in-out .2s;

  &:hover {
    svg {
      path {
        transition: all ease-in-out .2s;
        fill: #cc81dc; // Здесь задайте желаемый цвет при наведении
      }
    }
  }
}

// .icons a {
//   margin-right: 3px;
// }

.icons img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.burgerMenu {
  display: none;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .nav {
    flex-direction: column;
    background-color: #9fc783;
    position: absolute;
    left: 110%;
    right: 0;
    top: 60px;
    padding-top: 50px;
    padding-left: 50px;
    height: 100vh;
    justify-content: start;
    align-items: baseline;
  }

  .navVisible {
    left: 0;
  }

  .nav-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .linkWrapper {
    display: flex;
    align-items: center;
  }

  .sub-menu {
    display: none;
    position: static;
    transition: all ease-in-out 0.2s;
  }

  .sub-menu-open {
    display: block;
    transition: all ease-in-out 0.2s;
  }

  .sub-menu-arrow {
    width: 12px;
    // height: 10px;
    margin-left: 5px;
    transition: transform 0.2s;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    cursor: pointer;
  }

  .sub-menu-arrow.open {
    transform: rotate(180deg);
  }

  .icons {
    // display: none;
    align-self: flex-start;
    padding: 0 15px;
    margin-left: 0;
  }

  .burgerMenu {
    display: block;
    margin-left: 3px;
    align-self: center;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }

  .burgerMenu svg {
    width: 24px;
    height: 24px;
  }
}
