@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
  resize: none;
  overflow: hidden;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

/* for GallerySlider component */
/* describe ImageGallery */
/* .image-gallery {
  max-width: 700px;
} */
/* for GallerySlider component */
/* describe ImageGallery */