@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
  resize: none;
  overflow: hidden;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  height: 40px;
}